/* Default = Dark mode */
body {
  background: #111;
  color: #fff;
}

/* Light mode */
body.light {
  background: #f9f9f9;
  color: #222;
}

body.light nav {
  background: rgba(0,0,0,0.05);
}

body.light .subscription {
  background: #fff;
  border: 1px solid #ddd;
}
